@model ASPMVC.Models.BasketModel

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Użytkownik:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>
</div>
<h4>Produkty dodawane do koszyka:</h4>
<div>
    <dl>
        @foreach (var item in ViewBag.Products)
        {
            
            <dd>
                @item.Name
            </dd>

        }
    </dl>
</div>
<p>
    @Html.ActionLink("Cofnij", "Index")
</p>
