@model IEnumerable<SystemyBazDanychP1.Models.OrderProduct>
@{ 
    ViewBag.Title = "Koszyk";
}

<h2>Koszyk</h2>

<table class="table">
    <tr>
        <th>
           
        </th>
        <th>
            
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>

</table>
