
@{
    ViewBag.Title = "Index";
}

<h2>Panel administratora</h2>

<p>@Html.ActionLink("Zarządzaj kategoriami", "Index", "CategoryModels")</p>

<p>@Html.ActionLink("Zarządzaj Opiniami", "Index", "OpinionModels")</p>
