@model IEnumerable<SystemyBazDanychP1.Models.CategoryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Zarządzanie kategoriami</h2>

<p>
    @Html.ActionLink("Stwórz nową", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
            <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |             
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

    </table>
