@model ASPMVC.Models.SpecialOfferModel

@{
    ViewBag.Title = "Usuwanie";
}

<h2>Usuwanie promocji</h2>

<h3>Czy jesteś pewny, że chcesz to usunąć?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            Wartość promocji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionValue)
        </dd>

        <dt>
            Data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Cofnij", "Index")
        </div>
    }
</div>
